In [3]:
'''1. Write a python script to store multiple items in a single variable ( Items are “Java”
,“Python”, “SQL”, “C” ) using t'''
items=("Java","Python","SQL","C")
print(items)

('Java', 'Python', 'SQL', 'C')

In [9]:
'''2. Write a python program to store only one item using t.'''
item=input("enter an item").split(',')
t=item[0]
print(t)

sheeka

In [10]:
'''3. Write a python program to reverse the t.'''
t1=(10,20,30)
t2=t1[::-1]
print(t2)

(30, 20, 10)

In [13]:
'''4. Write a python program to Swap two ts in Python.'''
t1=(10,23,45,67)
t2=(20,58,34)
t1,t2=t2,t1
print("after swaping")
print(t1)
print(t2)

after swaping
(20, 58, 34)
(10, 23, 45, 67)

In [27]:
'''5. Write a python program to check if all items in the t are the same.'''
t=[4]*10
sol='all are same'
for i in t[1:]:
    if i!=t[0]:
        sol='Not same'
        break
print(sol)

10

In [37]:
'''6. Write a python program to divide the t into four variables.
t1=(100, 200, 300, 400)'''
t1=(100, 200, 300, 400)
a,b,c,d=t1
print(a,b,c,d)

100 200 300 400

In [49]:
'''7. Write a python program to copy elements 4 and 5 from the following t into a new
t. t1=(1,2,3,4,5,6)'''
t1=(1,2,3,4,5,6)
t2=t1[3:5]

print(t2)

(4, 5)

In [11]:
'''8. Write a python program to Sort a tuple of tuples by the second item.
t1 = (('a', 21),('b', 37),('c', 11), ('d',29))'''
tuple1 = (('a', 21), ('b', 37), ('c', 11), ('d', 29))

sorted_tuple = sorted(tuple1, key=lambda x: x[1])

print(sorted_tuple)

[('c', 11), ('a', 21), ('d', 29), ('b', 37)]

In [15]:
'''9. Write a python program to print the value 20 from given nested tuple
tuple1 = ("Python", [10, 20, 30], (2, 4, 16))'''

tuple1 = ("Python", [10, 20, 30], (2, 4, 16))
value=tuple1[1][1]
print(value)

20

In [17]:
'''10. Write a python program to change the first item (22) of a list within the following tuple
to 222.
tuple1 = (11, [22, 33], 44, 55)'''
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
print(tuple1)

(11, [222, 33], 44, 55)