In [1]:
'''1. Write a python program to store all the programming languages known to you using
Set.'''

s={"java","python","c","C++"}
print(s)

{'c', 'java', 'python', 'C++'}

In [2]:
'''2. Write a python program to store your own information {name, age, gender, so on..}'''
my_detail={'sheela kumar',23,'male','b+'}
print(my_detail)

{'male', 'sheela kumar', 'b+', 23}

In [3]:
'''3. Write a python script to get the data type of a Set.'''
s={20,30,40,50,60}
print(type(s))

<class 'set'>

In [7]:
'''4. Write a Python script to find if “Python” is present in the set thisset = {"Java",
"Python", "Django"}'''
thisset = {"Java","python", "Django"}
for i in thisset:
    if i=="python":
        print("the set has python")
        break
else:
    print("the set dosen't has python")

the set has python

In [12]:
'''5. Write a python program to add items from another set to the current set. thisset =
{"Java", "Python", "SQL"}, secondset= {"C", "Cpp", "NoSQL"}'''
thisset={"Java", "Python","SQL"}
secondset= {"C", "Cpp", "NoSQL"}
for i in secondset:
    thisset.add(i)
print(thisset)

{'NoSQL', 'Python', 'Cpp', 'SQL', 'Java', 'C'}

In [16]:
'''6. Write a python program to add elements of list to a set
thisset = {"Python", "Django", "JavaScript"}
mylist = ["Java", "C"]'''
thisset = {"Python", "Django", "JavaScript"}
mylist = ["Java", "C"]
thisset.update(mylist)
print("updated set:" , thisset)

updated set: {'JavaScript', 'Python', 'C', 'Java', 'Django'}

In [32]:
'''7. Write a python program to remove last item of the given set
thisset = {"Python", "Django", "JavaScript", “SQL”}'''
thisset={"Python", "Django", "JavaScript", "SQL"}
thisset.discard('SQL')
print("updated set:",thisset)

updated set: {'Python', 'JavaScript', 'Django'}

In [36]:
'''8. Write a python program to delete the set completely.'''
thisset={"Python", "Django", "JavaScript", "SQL"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [38]:
'''9. Write a python program to loop through the set and print values
thisset = {"Python", "Django", "JavaScript", “SQL”}'''
thisset = {"Python", "Django", "JavaScript", "SQL"}
for i in thisset:
    print(i)

Python
SQL
JavaScript
Django

In [39]:
'''10. Write a python program to find the maximum and minimum value in a set.'''
myset={20,60,21,48,340,2789}
mylist=list(myset)
m1=max(mylist)
m2=min(mylist)
myset=set(mylist)
print(f"the max value of myset is {m1}")
print(f"the min value of myset is {m2}")

the max value of myset is 2789
the min value of myset is 20